a {
    color: inherit !important;
    text-decoration: none !important;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

a:hover {
    color: #DBFF00 !important;
    transition: all .2s;
}

.mainColor {
    color: #275EEA;
}

.mainBg {
    background-color: #275EEA;
    color: #fff;
}